img [src="adv.JPG"]{
	width:small ;
	height:small ;
	padding:small 0 0 0 ;
}

.first{
	font: cooper black;
	font-size: larger;
}

.first {
 width:470px;
 padding-left:60px;
 margin:0 0 10px 25px;
 font-size:40px;
 display:inline-block;
  }

.herlife {
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 140px;
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    } 
.story {
	color: floralwhite;
}
.theworld {
 width:470px;
 padding-left:60px;
 margin:0 0 0px 5px;
 font-size:40px;
 display:inline-block;
  }

.part {
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 100
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }
.life {
	color:floralwhite;
}

.second{
 width:470px;
 padding-left:60px;
 margin:0 0 10px 25px;
 font-size:40px;
 display:inline-block;
  }

.herways{
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 140px;
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }
.part2{
	color: floralwhite;
}
.theuniverse{
 width:470px;
 padding-left:60px;
 margin:0 0 0px 5px;
 font-size:40px;
 display:inline-block;
  }

.moment{
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 100
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }

.third {
 width:470px;
 padding-left:60px;
 margin:0 0 10px 25px;
 font-size:40px;
 display:inline-block;
  }

.herstory {
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 140px;
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }
.theuniverse1 {
 width:470px;
 padding-left:60px;
 margin:0 0 0px 5px;
 font-size:40px;
 display:inline-block;
  }

.moment1 {
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 100
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }

.part3 {
	color: floralwhite;
}
.forth {
 width:470px;
 padding-left:60px;
 margin:0 0 10px 25px;
 font-size:40px;
 display:inline-block;
  }

.hersite {
postion: relative;
float: right;
border: 3px solid #C6930A;
border-style:dotted;
background: #66594C;
width: 140px;
padding: 5px;
margin: 5px;
text-align: center; 
-moz-box-shadow: 1px 1px 3px #222;
-webkit-box-shadow: 1px 1px 3px #222;
box-shadow: 1px 1px 3px #222;
    }



img [src="h.JPG"]{
	width:small ;
	height:small ;
	padding:small 0 0 0 ;
}